<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/erdf/src/erdf/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="erdf.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="erdf"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dhttps.proxyHost=proxy.ensinfo.sciences.univ-nantes.prive -Dhttps.proxyPort=3128"/>
</launchConfiguration>
